* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h3 {
  text-align: center;
  font-size: 24px;

}

.listItems{
  width: 400px;
  margin: 20px auto;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #666666;
}

.currencyRate {
  font-weight: 500;
}
